SCRAPER_DEBUG=0
KEEP_SEED=0
KEEP_SCRAPED=0
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=*
DB_NAME=news_scraper
DB_USER=news_scraper
DB_PASSWORD=news_scraper
DB_PORT=54320
REDIS_PORT=63790
WEB_PORT=8585
WEB_CONCURRENCY=2
WEB_THREADS=4
WEB_TIMEOUT=60
