SCRAPER_DEBUG=1

# Keep files after process completion
KEEP_SEED=0
KEEP_SCRAPED=0

DATA_DIR=/home/ubuntu/projects/sinarsolusi/apps/news_scraper/.data

KBT_API_BASE_URL=http://127.0.0.1:8000
KBT_API_TOKEN=YOUR-API-KEY

GEMINI_API_KEY=YOUR-API-KEY
