HOST_SEED_DIR=/var/lib/sinarsolusi/seed
HOST_LINKS_DIR=/var/lib/sinarsolusi/links
HOST_SCRAPED_DIR=/var/lib/sinarsolusi/scraped
HOST_CONTENT_DIR=/var/lib/sinarsolusi/content
SCRAPER_DEBUG=0
KEEP_SEED=0
KEEP_SCRAPED=0
